html, body {
    height: 100%;
}

body {
    background: url("https://ava.atitus.edu.br/avalogin/img/ava-bg7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, .8);
    margin-inline: auto;
    margin-top: 40px;
    max-width: 500px;
    padding: 20px;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
}

.btn {
    background-color: rgb(11, 11, 106);
    color: #fff;
    padding: 10px;
}

.alerta {
    background-color: rgb(215, 15, 15);
    color: white;
    display: none;
    margin-bottom: 20px;
    padding: 15px;
}

.alerta.show {
    display: block;
}